

form{
    background-color: red;
    width: 300px;
    height: 400px;
    background-clip: padding-box;
}
.c{
    border-style: dashed;
    
}
form input {
    color: red;
}
#trademenu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#tablemenu{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}
#em{
    position: fixed;
    top: 2;
    z-index: 2;
}
div{
    text-decoration-line: overline;
    text-decoration-color: brown;
}
a:link{
    color: brown;
}
a:hover{
    color: green;
}
a :visited{
    color: red;
}
#bo{
    border-style: dotted;
    border-width: thick;
    border-top: none;
    border-left: none;
    border-right: none;
}
.first{
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.second{
    display: none;
    list-style: none;
}

.me:hover .second{
    display: block;
}
@media (max-width: 600px) and (min-width:200px){
    /*{
        background-color: brown ;
}*/
    body{
    background-color: brown;
    background-image: conic-gradient(red, blue, green, yellow);
}
.first{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.second{
    display: none;
}

.me:hover .second{
    display: block;
}
}


