#sam{
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-transform: capitalize;
    direction: ltr;
    text-indent: 20px;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-shadow: 10px;
    color: blueviolet;
}
.ema{
    color: blueviolet;
    background-color: brown;
}
/*{
    background-color: blue;
}*/
body{
    background-image: url("imageod1.jpg");
    
    background-attachment: fixed;
}
form{
    background-color: red;
    width: 300px;
    height: 400px;
    background-clip: padding-box;
}
.c{
    border-style: dashed;
    
}
form input {
    color: red;
}
div{
    text-decoration-line: overline;
    text-decoration-color: brown;
}
a:link{
    color: brown;
}
a:hover{
    color: green;
}
a :visited{
    color: red;
}
#bo{
    border-style: dotted;
    border-width: thick;
}
@media (max-width: 700px) and (min-width:400px){
    /*{
        background-color: brown ;
}*/
    body{
    background-color: brown;
    background-image: conic-gradient(red, blue, green, yellow);
}
}


