
body{
    background-image: url("imageod1.jpg");
    
    background-attachment: fixed;
}
form{
    background-color: red;
    width: 300px;
    height: 400px;
    background-clip: padding-box;
}
.c{
    border-style: dashed;
    
}
form input {
    color: red;
}
div{
    text-decoration-line: overline;
    text-decoration-color: brown;
}
a:link{
    color: brown;
}
a:hover{
    color: green;
}
a :visited{
    color: red;
}
#bo{
    border-style: dotted;
    border-width: thick;
}
@media (max-width: 700px) and (min-width:400px){
    /*{
        background-color: brown ;
}*/
    body{
    background-color: brown;
    background-image: conic-gradient(red, blue, green, yellow);
}
}


