.ay{
    background-color: blue;
    color: aliceblue;
    margin-top: 0px;
    margin-bottom: 200px;
    position: fixed;
    top: 0;
    max-width: 100%;
    min-width: 100%;
    font-size: smaller;
}
.dis{
    width: 25%;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}
.img{
    max-width: 90%;
    min-width: 90%;
    height: 100px;
    margin-left: 5%;
}
.di{
    font-size: xx-small;
}
.re{
    color: aliceblue;
}
.bu{
    border-radius: 30px;
}

/*reg*/
.body{
    background-color: blue;
}
h1{
    color: aliceblue;
    text-align: center;
}
.div{
    background-color: aliceblue;
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
    height: 500px;
}
.lg{
    margin-left: 40%;
    font-size: xx-large;
}
.lab{}
.inp{
    margin-left: 20%;
    max-width: 60%;
}
.bot{
    background-color: blue;
    color: aliceblue;
}
